
div.selectOpenlLink {
  background-color: #cfe8ff;
  border-top: 1px dashed blue;
  border-right: 1px dashed blue; 
  border-left: 1px dashed blue; 
  display: none;
  cursor: pointer;
  z-index: 1000;
}

div.selectOpenlLink div {
  border-bottom: 1px dashed blue;
  padding: 1px 3px;
}